body {

    margin: 10px;
    Line-height: 26px;
    background-size: cover;
}

/* header */
.ueberschrift {
    font: 150% Impact;
    background-color: #0e6b37;
    border-radius: 5px 5px 5px 5px;
    color: lightgray;
    text-align: center;
    margin-bottom: 35px;
    position: relative;
    top: 26px;
    padding: 5px 5px 5px 5px;

}

.container {
    font: Impact;
    color: darkred;
    max-width: 75%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 2px;
    padding-bottom: 1px;
    margin-left: 10%;
    opacity: 0.8;

}

.hintergrundblock {
    max-width: 14%;
    margin-top: -30%;
    font-size: 100%;
    text-align: inherit;
    padding: 1%;
    color: #ece7ee;
    margin-bottom: 20px;
    background-color: darkgreen;
    opacity: 0.8;
}

.footer {
    border-radius: 5px 5px 5px 5px;
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
    margin-top: 10%;
}

#controller {
    margin-left: 20%;
    width: 35%;

}