body {
    font: 100% Gurmukhi MN;
    margin: 10px;
    Line-height: 26px;
    background-color: #00bcff;
}

/* header */
.ueberschrift {
    background-color: #ff0072;
    border-radius: 5px 5px 5px 5px;
    color: white;
    text-align: center;
    margin-bottom: 35px;
    position: relative;
    top: 26px;
    padding: 5px 5px 5px 5px;
    font-size: 150%;

}

.container {
    max-width: 75%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 2px;
    padding-bottom: 1px;
    margin-left: 10%;

}

.hintergrundblock {
    max-width: 90%;
    font-size: 150%;
    text-align: left;

    margin-bottom: 20px;
    padding: 10%;
    /*background-color: red;*/

}

.qc {
    background-color: #dfe2f5;
    border: none;
    color: #583bf5;
    font-size: 120%;
}

.footer {
    border-radius: 5px 5px 5px 5px;
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}

ul.seite {
    font: 100% Gurmukhi MN;
}

#controller {
    width: 80%;
    height: 80%;
    float: right;
    padding: 5%
}